#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

/* g.row ??? */
.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dc-select-menu {
    background: #33CC99;
    width: 80%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
}

.intro_button {
    margin-top: 3%;
    font-size: 1.1em;
}

.intro_button:hover {
    background-color: #33CC99;
    color: #ffffff;
    font-size: large;
}

/* style for loading screen */
#overlay {
    background: #ffffff;
    background-image: url("712.GIF");
    background-repeat:no-repeat ;
    background-position: 50% 50%;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    margin-left: auto;
    margin-right:auto;
}
